body{
	width: 100%;
	height: 100%;
	background-color: #F5F5F5;
}
.inno-paddingleft10{
	padding-left:10px;	
}
.inno-paddingright10{
	padding-right:10px;	
}
#change_name_input{
	width: 100%;
	height: 1.8333rem ;
	margin-top: 0.8333rem ;
	font-size: 0.625rem;
	color: #999;
	padding-left:0.625rem ;
	border:none;
}
.update_name-error{
	 text-align:center;
	 height: 1rem;
	 line-height: 1rem;
	 color: red;
	 margin-bottom: -0.5rem;
 }
.define{
	width: 14.375rem;
	height: 1.8333rem;
	border-radius: 0.1041rem;
	font-size:0.625rem;
	color: white;
	margin: 0.8333rem auto;
	line-height: 1.8333rem;
	background-color: #10c55b;
    -webkit-box-shadow: 0 0 10px #0CC;
    -moz-box-shadow: 0 0 10px #0CC;
    box-shadow: 0 0 10px #10c55b;
    border: 0;
}
.define:disabled,.define[disabled]{
	cursor: default;
    background-color: #10c55b;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -moz-box-shadow: 0 0 10px #10c55b;
    -webkit-box-shadow: 0 0 10px #10c55b;
    box-shadow: 0 0 10px #c6e8f7;
}
