html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.icon_blue_back{
	width:100%;
	height:100%;
	background-image: url(../../../images/common/blue_back.png);
	background-size:100% 100%;
}
.content{
	padding: 3rem 4rem;
    color: #8ec3f6;	
}
.margin_top6{
   margin-top: 6rem;
}
	

